.jp_tittle_heading h2 {
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
}

.jp_tittle_breadcrumb_wrapper li:nth-child(n + 2) {
    float: left;
    margin-left: 20px;
}

.jp_tittle_breadcrumb_wrapper li:last-child {
    color: #23c0e9;
}

.jp_tittle_breadcrumb_wrapper li a {
    color: #ffffffa6;
}

.jp_tittle_breadcrumb_wrapper li i {
    color: #23c0e9;
    position: relative;
    left: 10px;
}

.jp_tittle_breadcrumb_wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
}

.jp_tittle_breadcrumb_main_wrapper {
    float: left;
    width: 100%;
    padding-top: 25px;
}